/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
  background-color: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

/* Contenedor principal centrado */
.inicio-container{
  width: 400px;
  margin:auto;
  margin-top: 10ch;
}

/* Estilo de la tarjeta/formulario */
.inicio-form {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.inicio-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #1a7f49;
}

/* Etiquetas e inputs */
.inicio-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.inicio-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  border-radius: 5px;
  font-size: 1rem;
}
/* .login-form input:last-of-type {
    margin-bottom: 22px;
} */

/* Botón de login */
.inicio-form button {
  width: 100%;
  padding: 12px;
  background-color: #1a7f49;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inicio-form button:hover {
  background-color: #146c3c;
}

.homebanking-presentacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a7f49;
  color: #fff;
  padding: 24px 32px 20px 32px;
  font-size: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border-radius: 0 0 12px 0;
}
.cerrarSesionBtn {
  background-color: #da3e2d;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cerrarSesionBtn:hover {
  background-color: #c0392b;
}

